services:
  - type: web
    name: RotaTrabalhoMarcio
    env: python
    plan: free
    region: oregon
    branch: main
    rootDir: .
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app --bind 0.0.0.0:$PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11
      - key: RANDOMIZAR_ARESTAS_PROP
        value: 0.05
